{% extends 'wallet/base.html' %}

{% block walletcontent %}
<form class="form wallet__center" method="POST" onsubmit="createTransaction(event)">
  <h1 class="wallet__form-header">Make Transaction</h1>

  <label for="amount">Amount (Rp.)</label>
  <input min="0" step="1" type="number" id="amount" name="amount" class="wallet__form-input" placeholder="0" required>

  <label for="done-on">Done on</label>
  <input type="date" id="done-on" name="done-on" class="wallet__form-input" required>

  <label for="type">Type</label>
  <select id="type" name="type" class="wallet__form-input">
    <option value="INCOME">Income</option>
    <option value="OUTCOME">Outcome</option>
  </select>

  <label for="wallet">Wallet</label>
  <select id="wallet" name="wallet" class="wallet__form-input" required>
  </select>

  <button class="btn btn-primary wallet__form-btn" type="submit">Create</button>
</form>
{% endblock walletcontent %}
