{% extends 'wallet/base.html' %}

{% block walletcontent %}
<div class="wallet__transaction-padding">
</div>
<div class="wallet__transaction-head">
  <h2 class="wallet__transaction-balance">Balance</h2>
  <h3 class="wallet__transaction-total">Rp. 0</h3>
  <select onchange="fromWalletOnChange();" id="from-wallet" name="from-wallet" class="wallet__form-input">
    <option value="all">All Wallets</option>
  </select>
</div>
<div id="wallet__transactions" class="wallet__display-transactions">
</div>
{% endblock walletcontent %}
