{% extends 'base.html' %}

<head>
    {% block content %} {% load static %} {% load humanize %}
	<link rel="stylesheet" href="static/style.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        body,
        html {
            background-color: white;
            color: black;
            padding: 0;
            margin: 0;
            position: relative;
            font-family: "Roboto", sans-serif;
            
        }
        .card {
            margin: 0 auto; /* Added */
            float: none; /* Added */
            margin-bottom: 10px; /* Added */
            text-align:left;
        }
    </style>
    <script>
        async function getInvestmentList() {
          return fetch("{% url 'investasiku:show_json' %}").then((res) => res.json())
        }
        
        async function refreshInvestmentList() {
              const investments = await getInvestmentList()
              let htmlString = `<div>`
              investments.forEach((item) => {
                if (item.fields.investment_type == "Pasar Uang"){

                    htmlString += `\n
                    <div class="card w-75">
                        <div class="card-body">
                            <h3 class="card-title">${item.fields.investment_name}</h5>
                                <h6 class="card-text">${item.fields.investment_type}</h6>
                                <p class="card-text">${item.fields.cagr_1Y}</p>
                                <p class="card-text">${item.fields.drawdown_1Y}</p>
                                <p class="card-text">${item.fields.aum}</p>
                                <p class="card-text">${item.fields.expense_ratio}</p>
                        </div>
                    </div>
                    `              
                }
              })
              htmlString += "</div>"
            document.getElementById("content").innerHTML = htmlString
        }
        refreshInvestmentList()
        </script>
</head>
<body>
    <div id="content"> ioushaiu
    </div>
</body>

{% endblock content %}
