.wallet__container {
  width: 100%;
  /* Height of navbar */
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wallet__center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.wallet__center > input {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

.wallet__form-header {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.wallet__form-info {
  text-align: center;
}

.wallet__form-input, form > input, form > textarea {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.wallet__form-input-description, form > span {
  margin-bottom: 0.5rem;
  font-size: 0.85rem;
}

.wallet__form, form {
  display: flex;
  flex-direction: column;

  justify-content: center;
  min-width: 280px;
  width: 90%;
  max-width: 480px;
}

.wallet__form-btn {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  width: 100%;
}

.wallet__wallets-header {
  font-size: 2rem;
  font-style: bold;
  width: 90%;
  margin-bottom: 0;
}

.wallet__wallets-total-balance {
  font-size: 1.25rem; 
  width: 90%;
  margin-bottom: 1rem;
}

#wallet__wallets {
  min-width: 280px;
  width: 100%;
  max-width: 768px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wallet__wallet {
  width: 90%;
  padding: 0.25rem 1rem;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.wallet__wallet:nth-child(3) {
  border-radius: 10px 10px 0 0;
  border: 1px solid black;
  margin-bottom: 0;
}

.wallet__wallet:last-child {
  border-radius: 0 0 10px 10px;
  border: 1px solid black;
  margin-top: 0;
}

.wallet__wallet-name {
  font-size: 1.25rem;
  font-style: bold;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.wallet__wallet-text {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 768px) {
  .wallet__wallets-header {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  
  .wallet__wallets-total-balance {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .wallet__wallet {
    padding: 0.25rem 0.75rem;
  }

  .wallet__wallet-name {
    font-size: 1rem;
  }

  .wallet__wallet-text {
    font-size: 0.8rem;
  }
}
