{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'donasi/style.css' %}"/>


<h1>List Donasi</h1>

<div id="cards_ajax"></div>
<br></br>

<center>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Donasi</button>
</center>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Donasi Baru</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="form_donasi"  >
          {% csrf_token %}
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Nama:</label>
            <input type="text" class="form-control" id="field_name" name="name">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Nominal:</label>
            <textarea class="form-control" id="field_amount" name="amount"></textarea>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Tujuan Donasi:</label>
            <textarea class="form-control" id="field_target" name="target"></textarea>
          </div>
        </form>
      </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" onclick="addDonasi()" class="btn btn-primary" id="adddonasibutton" data-bs-dismiss="modal">Add</button>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/donasi_ajax.js' %}"></script>
<script>refreshDonasiList()</script>


{% endblock content %}